<div class="main">
  <div class="wrap">
    <%= render partial: 'social' %>
    <div class="content-bottom">
      <div class="box1">
        <% @products.each do |product| %>
            <%= render partial: 'item', locals: {product: product} %>
        <% end %>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>