<div class="main_content">
  <div class="container main product_style">
    <div class="row">
      <div class="span9 product-area">

        <!--div class="discount_banner">
          <img alt="" src="/assets/discount_banner.png">
        </div-->

        <!--Nav section for mixtop-->

        <nav class="controls just view_as top">
          <div class="group span4 left-order Sorts">
            <p>view as:</p>
            <ul>
              <li><div class="button" id="ToGrid"></div></li>
              <li><div class="button" id="ToList"></div></li>
            </ul>
          </div>
          <div class="group span5 right-order sorting" id="Filters">
            <div class="text-show">
              <p>show:</p>
            </div>
            <div class="drop_down sort">
              <div class="select_bg_sort"><p>Position</p></div>
              <ul class="">
                <li class="active" data-filter="all" data-dimension="region">All</li>
                <li data-filter="alaska" data-dimension="region">New</li>
                <li data-filter="intermountain" data-dimension="region">Intermountain</li>
                <li data-filter="northeast" data-dimension="region">Fashion</li>
                <li data-filter="pacific_west" data-dimension="region">Smart</li>
                <li data-filter="southeast" data-dimension="region">Beautiful</li>
              </ul>
            </div>
            <div class="text-show">
              <p>show:</p>
            </div>
            <div class="drop_down show">
              <div class="select_bg_pn"><p>1</p></div>
              <ul class="">
                <li class="active" data-filter="all" data-dimension="recreation">1</li>
                <li data-filter="camping" data-dimension="recreation">2</li>
                <li data-filter="climbing" data-dimension="recreation">3</li>
                <li data-filter="fishing" data-dimension="recreation">4</li>
                <li data-filter="swimming" data-dimension="recreation">5</li>
              </ul>
            </div>
          </div>
        </nav>

        <!--Nav section for mixtop-->

        <ul id="Parks" class="just list">

          <li class="mix northeast camping climbing fishing swimming mix_all" data-name="Acadia" data-area="47452.80">
            <div class="meta name">
              <div class="img_wrapper loaded">
                <img alt src="/assets/men/man01.png" onload="imgLoaded(this)">
              </div>

            </div>

            <div class="product_info new-product-info">
              <div>
                <div class="new-product-price">$500</div>
                <div class="new-product-bg">
                  <div class="newE-product-cart_like">
                    <div class="new-product-cart_like">
                      <div class="new-product-cart"><a href="#"><img alt="" src="/assets/new-product/shoping-info/cart-image.png"></a></div>
                      <div class="new-product-like"><a href="#"><img alt="" src="/assets/new-product/shoping-info/like-img.png"></a></div>
                    </div>
                  </div>
                  <div class="new-product-details"><a href="#">Details</a></div>
                </div>
              </div>
            </div>
            <div class="product_description product_info">
              <div class="title">New Modern Dresses</div>
              <div class="content">Lorem ipsum dolor sit amet, conse adipiscing elit.</div>
            </div>
            <div class="meta product_description">
              <div class="title">New Modern Dresses</div>
              <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales dapibus dui, iaculi metus facilisis sed. Etiam scelerisque molestie purus vel mollis. Mauris dapibus puam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
            <div class="meta product_description">
              <div class="popular-product-info">
                <div>
                  <div class="popular-product-price">$500</div>
                  <div class="popular-product-bg">
                    <div class="popular-product-cart_like">
                      <div class="popular-product-cart_like">
                        <div class="popular-product-cart"><a href="#"><img alt="" src="/assets/new-product/shoping-info/cart-image.png"></a></div>
                        <div class="popular-product-like"><a href="#"><img alt="" src="/assets/new-product/shoping-info/like-img.png"></a></div>
                      </div>
                    </div>
                    <div class="popular-product-details"><a href="#">Details</a></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="mix intermountain camping climbing mix_all" data-name="Arches" data-area="76678.98">
            <div class="meta name">
              <div class="img_wrapper loaded">
                <div class="new"></div>
                <img alt="" src="/assets/men/man02.png" onload="imgLoaded(this)">
              </div>

            </div>
            <div class="product_info new-product-info">
              <div>
                <div class="new-product-price">$500</div>
                <div class="new-product-bg">
                  <div class="newE-product-cart_like">
                    <div class="new-product-cart_like">
                      <div class="new-product-cart"><a href="#"><img alt="" src="/assets/new-product/shoping-info/cart-image.png"></a></div>
                      <div class="new-product-like"><a href="#"><img alt="" src="/assets/new-product/shoping-info/like-img.png"></a></div>
                    </div>
                  </div>
                  <div class="new-product-details"><a href="#">Details</a></div>
                </div>
              </div>
            </div>
            <div class="product_description product_info">
              <div class="title">New Modern Dresses</div>
              <div class="content">Lorem ipsum dolor sit amet, conse adipiscing elit.</div>
            </div>
            <div class="meta product_description">
              <div class="title">New Modern Dresses</div>
              <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales dapibus dui, iaculi metus facilisis sed. Etiam scelerisque molestie purus vel mollis. Mauris dapibus puam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
            <div class="meta product_description">
              <div class="popular-product-info">
                <div>
                  <div class="popular-product-price">$500</div>
                  <div class="popular-product-bg">
                    <div class="popular-product-cart_like">
                      <div class="popular-product-cart_like">
                        <div class="popular-product-cart"><a href="#"><img alt="" src="/assets/new-product/shoping-info/cart-image.png"></a></div>
                        <div class="popular-product-like"><a href="#"><img alt="" src="/assets/new-product/shoping-info/like-img.png"></a></div>
                      </div>
                    </div>
                    <div class="popular-product-details"><a href="#">Details</a></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="mix pacific_west camping fishing mix_all" data-name="Crater Lake" data-area="183224.05">
            <div class="meta name">
              <div class="img_wrapper loaded">
                <img alt="" src="/assets/men/man03.png" onload="imgLoaded(this)">
              </div>

            </div>
            <div class="product_info new-product-info">
              <div>
                <div class="new-product-price">$500</div>
                <div class="new-product-bg">
                  <div class="newE-product-cart_like">
                    <div class="new-product-cart_like">
                      <div class="new-product-cart"><a href="#"><img alt="" src="/assets/new-product/shoping-info/cart-image.png"></a></div>
                      <div class="new-product-like"><a href="#"><img alt="" src="/assets/new-product/shoping-info/like-img.png"></a></div>
                    </div>
                  </div>
                  <div class="new-product-details"><a href="#">Details</a></div>
                </div>
              </div>
            </div>
            <div class="product_description product_info">
              <div class="title">New Modern Dresses</div>
              <div class="content">Lorem ipsum dolor sit amet, conse adipiscing elit.</div>
            </div>
            <div class="meta product_description">
              <div class="title">New Modern Dresses</div>
              <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales dapibus dui, iaculi metus facilisis sed. Etiam scelerisque molestie purus vel mollis. Mauris dapibus puam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
            <div class="meta product_description">
              <div class="popular-product-info">
                <div>
                  <div class="popular-product-price">$500</div>
                  <div class="popular-product-bg">
                    <div class="popular-product-cart_like">
                      <div class="popular-product-cart_like">
                        <div class="popular-product-cart"><a href="#"><img alt="" src="/assets/new-product/shoping-info/cart-image.png"></a></div>
                        <div class="popular-product-like"><a href="#"><img alt="" src="/assets/new-product/shoping-info/like-img.png"></a></div>
                      </div>
                    </div>
                    <div class="popular-product-details"><a href="#">Details</a></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="mix alaska camping climbing fishing mix_all" data-name="Denali" data-area="4740911.37">
            <div class="meta name">
              <div class="img_wrapper loaded">
                <div class="sell"></div>
                <img alt="" src="/assets/men/man04.png" onload="imgLoaded(this)">
              </div>

            </div>
            <div class="product_info new-product-info">
              <div>
                <div class="new-product-price">$500</div>
                <div class="new-product-bg">
                  <div class="newE-product-cart_like">
                    <div class="new-product-cart_like">
                      <div class="new-product-cart"><a href="#"><img alt="" src="/assets/new-product/shoping-info/cart-image.png"></a></div>
                      <div class="new-product-like"><a href="#"><img alt="" src="/assets/new-product/shoping-info/like-img.png"></a></div>
                    </div>
                  </div>
                  <div class="new-product-details"><a href="#">Details</a></div>
                </div>
              </div>
            </div>
            <div class="product_description product_info">
              <div class="title">New Modern Dresses</div>
              <div class="content">Lorem ipsum dolor sit amet, conse adipiscing elit.</div>
            </div>
            <div class="meta product_description">
              <div class="title">New Modern Dresses</div>
              <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales dapibus dui, iaculi metus facilisis sed. Etiam scelerisque molestie purus vel mollis. Mauris dapibus puam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
            <div class="meta product_description">
              <div class="popular-product-info">
                <div>
                  <div class="popular-product-price">$500</div>
                  <div class="popular-product-bg">
                    <div class="popular-product-cart_like">
                      <div class="popular-product-cart_like">
                        <div class="popular-product-cart"><a href="#"><img alt="" src="/assets/new-product/shoping-info/cart-image.png"></a></div>
                        <div class="popular-product-like"><a href="#"><img alt="" src="/assets/new-product/shoping-info/like-img.png"></a></div>
                      </div>
                    </div>
                    <div class="popular-product-details"><a href="#">Details</a></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="mix alaska camping fishing mix_all" data-name="Glacier Bay" data-area="3223383.66">
            <div class="meta name">
              <div class="img_wrapper loaded">
                <img alt="" src="/assets/men/man05.png" onload="imgLoaded(this)">
              </div>
            </div>
            <div class="product_info new-product-info">
              <div>
                <div class="new-product-price">$500</div>
                <div class="new-product-bg">
                  <div class="newE-product-cart_like">
                    <div class="new-product-cart_like">
                      <div class="new-product-cart"><a href="#"><img alt="" src="/assets/new-product/shoping-info/cart-image.png"></a></div>
                      <div class="new-product-like"><a href="#"><img alt="" src="/assets/new-product/shoping-info/like-img.png"></a></div>
                    </div>
                  </div>
                  <div class="new-product-details"><a href="#">Details</a></div>
                </div>
              </div>
            </div>
            <div class="product_description product_info">
              <div class="title">New Modern Dresses</div>
              <div class="content">Lorem ipsum dolor sit amet, conse adipiscing elit.</div>
            </div>
            <div class="meta product_description">
              <div class="title">New Modern Dresses</div>
              <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales dapibus dui, iaculi metus facilisis sed. Etiam scelerisque molestie purus vel mollis. Mauris dapibus puam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
            <div class="meta product_description">
              <div class="popular-product-info">
                <div>
                  <div class="popular-product-price">$500</div>
                  <div class="popular-product-bg">
                    <div class="popular-product-cart_like">
                      <div class="popular-product-cart_like">
                        <div class="popular-product-cart"><a href="#"><img alt="" src="/assets/new-product/shoping-info/cart-image.png"></a></div>
                        <div class="popular-product-like"><a href="#"><img alt="" src="/assets/new-product/shoping-info/like-img.png"></a></div>
                      </div>
                    </div>
                    <div class="popular-product-details"><a href="#">Details</a></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="mix intermountain camping fishing mix_all" data-name="Grand Canyon" data-area="1217261.75">
            <div class="meta name">
              <div class="img_wrapper loaded">
                <img alt="" src="/assets/men/man06.png" onload="imgLoaded(this)">
              </div>

            </div>
            <div class="product_info new-product-info">
              <div>
                <div class="new-product-price">$500</div>
                <div class="new-product-bg">
                  <div class="newE-product-cart_like">
                    <div class="new-product-cart_like">
                      <div class="new-product-cart"><a href="#"><img alt="" src="/assets/new-product/shoping-info/cart-image.png"></a></div>
                      <div class="new-product-like"><a href="#"><img alt="" src="/assets/new-product/shoping-info/like-img.png"></a></div>
                    </div>
                  </div>
                  <div class="new-product-details"><a href="#">Details</a></div>
                </div>
              </div>
            </div>
            <div class="product_description product_info">
              <div class="title">New Modern Dresses</div>
              <div class="content">Lorem ipsum dolor sit amet, conse adipiscing elit.</div>
            </div>
            <div class="meta product_description">
              <div class="title">New Modern Dresses</div>
              <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales dapibus dui, iaculi metus facilisis sed. Etiam scelerisque molestie purus vel mollis. Mauris dapibus puam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
            <div class="meta product_description">
              <div class="popular-product-info">
                <div>
                  <div class="popular-product-price">$500</div>
                  <div class="popular-product-bg">
                    <div class="popular-product-cart_like">
                      <div class="popular-product-cart_like">
                        <div class="popular-product-cart"><a href="#"><img alt="" src="/assets/new-product/shoping-info/cart-image.png"></a></div>
                        <div class="popular-product-like"><a href="#"><img alt="" src="/assets/new-product/shoping-info/like-img.png"></a></div>
                      </div>
                    </div>
                    <div class="popular-product-details"><a href="#">Details</a></div>
                  </div>
                </div>
              </div>
            </div>
          </li>

        </ul>

        <!--Nav section for mixtop-->

        <nav class="controls just view_as bottom">
          <div class="group span5 left-order Sorts">
            <p>view as:</p>
            <ul>
              <li><div class="button" id="ToGrid1"></div></li>
              <li><div class="button" id="ToList1"></div></li>
            </ul>
          </div>
          <div class="group span4 right-order">
            <!-- Start pagination -->
            <div class="pagination">
              <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li class="active"><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
            <!-- End pagination -->
          </div>
        </nav>

        <!--Nav section for mixtop-->
      </div>
      <div class="span3 widget-area">
        <div class="right-sidebar">
          <div class="widget-info">
            <div class="widget-title">Categories</div>
            <div class="line"></div>
            <div class="widget-content">
              <ul>
                <li><a href="#">Dresses</a></li>
                <li><a href="#">Bags & Purses</a></li>
                <li><a href="#">Coats & Jackets</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Designer</a></li>
                <li><a href="#">Jeans</a></li>
                <li><a href="#">Jewellery & Watches</a></li>
              </ul>
            </div>
          </div>
          <div class="widget-info">
            <div class="widget-title">By Price</div>
            <div class="line"></div>
            <div class="widget-price">
              <ul>
                <li><a href="#">0 - $1,700.00</a></li>
                <li><a href="#">$20 - $2,800.00</a></li>
                <li><a href="#">$50 - $2,900.00</a></li>
                <li><a href="#">$75 - $3,990.00</a></li>
                <li><a href="#">$100 - $4,600.00</a></li>
              </ul>
            </div>
          </div>
          <div class="widget-info">
            <div class="widget-title">Color</div>
            <div class="line"></div>
            <div class="widget-price">
              <select class="select_color">
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="yellow">yellow</option>
              </select>
            </div>
          </div>
          <div class="widget-info">
            <div class="widget-title">Manufacturer</div>
            <div class="line"></div>
            <div class="widget-content">
              <form>
                <div><input type="checkbox" name="vehicle" value="Bike"><div class="brand_name">Adidas</div></div>
                <div><input type="checkbox" name="vehicle" value="Car"><div class="brand_name">Nike</div></div>
                <div><input type="checkbox" name="vehicle" value="Bike"><div class="brand_name">T-Shirt</div></div>
                <div><input type="checkbox" name="vehicle" value="Car"><div class="brand_name">Puma</div></div>
                <div><input type="checkbox" name="vehicle" value="Bike"><div class="brand_name">Denim</div></div>
                <div><input type="checkbox" name="vehicle" value="Car"><div class="brand_name">Dedeman</div></div>
                <div><input type="checkbox" name="vehicle" value="Car"><div class="brand_name">New wear</div></div>
              </form>
            </div>
          </div>
          <div class="widget-info">
            <div class="widget-title">View History</div>
            <div class="line"></div>
            <div class="widget-content">
              <div class="history-product-image">
                <a href="#"><img src="/assets/product-list/htstory.png" alt="" /></a>
              </div>
              <div id="feature-post-content">
                <div>
                  <button class="shop-now">Shop Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact_info">
  <div class="container main">
    <ul class="row">
      <li class="follow-us span4">
        <div class="follow-social">Follow us on:</div>
        <div class="social-icon">
          <ul>
            <li class="fb">
              <a href="#"><img alt="" src="/assets/social/facebook.png"></a>
            </li>
            <li class="tw">
              <a href="#"><img alt="" src="/assets/social/twitter.png"></a>
            </li>
            <li class="rss">
              <a href="#"><img alt="" src="/assets/social/rss.png"></a>
            </li>
            <li class="yt">
              <a href="#"><img alt="" src="/assets/social/youtube.png"></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="span4">
        <div class="free-shipping">
          <div class="free-shipping-wrap">
            <div class="free-shipping-image">
              <img alt="" src="/assets/social/shiping-truck.png">
            </div>
            <div class="free-shipping-info">
              <div id="free-shipping-info-title">
                Free Shipping
              </div>
              <div id="free-shipping-info">
                On Orders  Over $ 499
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="contact-no span4">
        <div class="contact-no-wrap">
          <div class="contact-no-image">
            <img alt="" src="/assets/social/telephone.png">
          </div>
          <div class="contact-no-info">
            <div id="contact-no-info-title">
              Order Online
            </div>
            <br/>
            <div id="contact-no-info">
              <p>Phone:</p>
              <p id="nb">1 (234) 56 78 901</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>